<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		html,
		body {
			width: 100vw;
			height: 100vh;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			background: #f1f2f3;
			color: #333;
			overflow: hidden;
		}

		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.loginWrapper {
			width: 480px;
			padding: 2em;
			background: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, .1);
		}

		.loginWrapper h2 {
			font-size: 20px;
			/* text-align: center; */
			margin-bottom: 1.5em;
		}

		/* Style the tab */

		.tab {
			overflow: hidden;
			/* border: 1px solid #e8e8e8; */
			border-bottom: none;
		}

		/* Style the buttons inside the tab */

		.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 12px 0;
			transition: 0.3s;
			font-size: 15px;
			color: #aaa;
			margin-right: 16px;
		}

		/* Change background color of buttons on hover */

		.tab button:hover {
			-webkit-box-shadow: inset 0px -2px 0px 0px #e8e8e8;
			-moz-box-shadow: inset 0px -2px 0px 0px #e8e8e8;
			box-shadow: inset 0px -2px 0px 0px #e8e8e8;
			color: #666;
		}

		/* Create an active/current tablink class */

		.tab button.active {
			color: #333;
			background: #fff;
			font-weight: 500;
			z-index: 999;
			/* border-bottom: 2px solid #2F54EB; */
			-webkit-box-shadow: inset 0px -2px 0px 0px #2F54EB;
			-moz-box-shadow: inset 0px -2px 0px 0px #2F54EB;
			box-shadow: inset 0px -2px 0px 0px #2F54EB;
		}

		/* Style the tab content */

		.tabcontent {
			display: none;
			padding: 24px 0;
			background: #fff;
			/* border: 1px solid #e8e8e8; */
			border-top: none;
		}

		.tabcontent.show {
			display: block;
		}

		.formItem {
			margin-bottom: 1em;
		}

		.formItem p {
			margin-bottom: 8px;
			font-size: 14px;
			color: #aaa;
		}

		.formItem input {
			width: 100%;
			border: 1px solid #ddd;
			padding: 8px;
			font-size: 16px;
			outline: none;
		}

		.smsInput {
			display: flex;
			border: 1px solid #ddd;
		}

		.smsInput input {
			border: none;
			outline: none;
		}

		.smsInput button {
			flex: 0 0 25%;
			border: none;
			background: #fff;
			color: #2F54EB;
			font-size: 13px;
		}

		.smsInput button.disable {
			color: rgba(0, 0, 0, .65);
		}

		.loginButton {
			border: none;
			outline: none;
			background: #2F54EB;
			color: #fff;
			padding: 12px 16px;
			margin-top: 10px;
			font-size: 15px;
			width: 100%;
			transition: 0.3s;
		}

		.loginButton:hover {
			background: #597EF7;
		}

		.warningFlash {
			margin-bottom: 16px;
			padding: 8px 15px;
			font-size: 14px;
			background: #fff1f0;
			border: 1px solid #ffa39e;
			border-radius: 4px;
		}

		.successFlash {
			margin-bottom: 16px;
			padding: 8px 15px;
			font-size: 14px;
			background: #e4f7e7;
			border: 1px solid #acf2b7;
			border-radius: 4px;
		}

		.disable {
			color: rgba(0, 0, 0, .65);
		}

		.warningFeishu {
			display: flex;
			width: 480px;
			margin-bottom: 16px;
			padding: 16px;
			font-size: 13px;
			line-height: 21px;
			background: #fff;
			border: 1px solid #e8e8e8;
			border-radius: 4px;
			color: #777;
		}

		.feishu-logo {
			width: 48px;
			height: 48px;
			margin-right: 24px;
		}

		::placeholder {
			/* Chrome, Firefox, Opera, Safari 10.1+ */
			font-size: 14px;
			color: #aaa;
			/* Firefox */
		}

		:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			font-size: 14px;
			color: #aaa;
		}

		::-ms-input-placeholder {
			/* Microsoft Edge */
			font-size: 14px;
			color: #aaa;
		}

		@media only screen and (max-width: 600px) {
			body {
					{
						{
						!-- background: #fff;
						--
					}
				}
			}

			.loginWrapper {
				width: 340px;
				box-shadow: none;
				padding: 16px;
			}

			.warningFeishu {
				width: 340px;
				flex-direction: column;
				font-size: 12px;
			}

			.warningFeishu img {
				display: none;
			}

			.container {
				display: flex;
			}
		}
	</style>
	<script type='text/javascript' src="/jquery.min.js"></script>
	<script type='text/javascript' src="/md5.min.js"></script>
	<script type='text/javascript' src="/axios.min.js"></script>
	<script type='text/javascript'>
		$(function () {
			var acUrl = '{{acUrl}}';
			var ssid_mode = encodeURIComponent('{{ssid_mode}}');
			var pagetype = encodeURIComponent('{{pagetype}}');
			var wlanuserip = encodeURIComponent('{{wlanuserip}}');
			var ssid = encodeURIComponent('{{ssid}}');
			var wlanapmac = encodeURIComponent('{{wlanapmac}}');
			var wlanacip = encodeURIComponent('{{wlanacip}}');
			var wlanusermac = encodeURIComponent('{{wlanusermac}}');
			var vlan = encodeURIComponent('{{vlan}}');
			var staIp = encodeURIComponent('{{staIp}}');
			var staMac = encodeURIComponent('{{staMac}}');
			var apMac = encodeURIComponent('{{apMac}}');
			var apIp = encodeURIComponent('{{apIp}}');
			var supportTPAuth = encodeURIComponent('{{supportTPAuth}}');
			var bas_port = encodeURIComponent('{{bas_port}}');
			var bas_http_port = encodeURIComponent('{{bas_http_port}}');

			var url = acUrl + 'portal/auth?ssid_mode=' + ssid_mode +
				'&pagetype=' + pagetype +
				'&wlanuserip=' + wlanuserip +
				'&ssid=' + ssid +
				'&wlanapmac=' + wlanapmac +
				'&wlanacip=' + wlanacip +
				'&wlanusermac=' + wlanusermac +
				'&vlan=' + vlan +
				'&staMac=' + staMac +
				'&staIp=' + staIp +
				'&apMac=' + apMac +
				'&apIp=' + apIp +
				'&supportTPAuth=' + supportTPAuth +
				'&bas_port=' + bas_port +
				'&bas_http_port=' + bas_http_port;

			$('#loginBtn').on('click', function (e) {
				e.preventDefault();
				var _username = $("#username").val();
				var _password = $("#password").val();

				if (isEmpty(_username)) {
					alert('请输入用户名');
					return;
				}
				if (isEmpty(_password)) {
					alert('请输入密码');
					return;
				}

				url += "&username=" + encodeURIComponent(_username);
				url += "&password=" + encodeURIComponent(_password);
				url += "&authtype=5";

				$.get(url, function (data) {
					parse_config(url, data);
					return;
				});
			});
		});

		function parse_config(url, data) {
			var logonErrInfo = new Array("",
				"正在登录，请稍候···",
				"用户名或者密码错误！",
				"登录超时，请重新登录！",
				"该用户名已被禁用！",
				"用户已过期！",
				"该时间段禁止认证，请稍候重试！",
				"该用户名已达认证用户上限！",
				"请求服务器失败，请稍后再试",
				"登录成功",
				"退出登录成功，请重新登录",
				"您没有权限使用该用户名进行认证！",
				"认证方式错误",
				"正在连接外部认证服务器");
			var INFO_TIP_INIT = 0;
			var INFO_TIP_REFRESH = 1;
			var INFO_TIP_ERRCODE = 2;
			var INFO_TIP_TIMEOUT = 3;
			var INFO_TIP_BLACKUSER = 4;
			var INFO_TIP_USEREXPIRE = 5;
			var INFO_TIP_INVALIDTIME = 6;
			var INFO_TIP_USERFULL = 7;
			var INFO_TIP_SERVERERR = 8;
			var INFO_TIP_SUCCESS = 9;
			var INFO_TIP_LOGOUT = 10;
			var INFO_TIP_MAC_CONFLICT = 11;
			var INFO_TIP_AUTHMODE_ERROR = 12;
			var INFO_TIP_REMOTE_GOURL = 13;

			if (data.startsWith('{Error')) {
				var startIndex = data.indexOf("{");
				var endIndex = data.indexOf("}");
				var cfg = data.substring(startIndex + 1, endIndex - 1);
				alert(cfg);
			}
			else if (data.startsWith('<html')) {
				window.location.href = url;
			}
			else if (data.startsWith('<script')) {
				var startIndex = data.indexOf("{");
				var endIndex = data.indexOf("}");
				var cfg = data.substring(startIndex, endIndex + 1);
				var cfgPara = $.parseJSON(cfg);


				if (cfgPara.logonTip == INFO_TIP_ERRCODE) {// 登录失败
					if (cfgPara.failUrl && cfgPara.failUrl != "") {
						window.location.href = cfgPara.failUrl;
					} else {
						alert(logonErrInfo[INFO_TIP_ERRCODE]);
					}
				}
				else if (cfgPara.logonTip == INFO_TIP_SUCCESS) {// 登录成功
					if (cfgPara.successUrl && cfgPara.successUrl != "") {
						window.location.href = cfgPara.successUrl
					} else {
						alert(logonErrInfo[INFO_TIP_SUCCESS]);
					}
					return;
				}
				else if (cfgPara.logonTip == INFO_TIP_REFRESH) {// 正在登录，1秒后再次尝试获取登录结果
					setTimeout(function (arg) {
						var _url = arg;
						if (-1 == _url.indexOf("refresh=true")) {
							_url = _url + "&refresh=true";
						}

						$.get(_url, function (data) {
							parse_config(_url, data);
						});
					}, 1000, url);
					return;
				}
			}
		}

		function isEmpty(str) {
			return str == null || str == '' || str.trim() == '';
		}
	</script>
</head>

<body>
	<div class='container'>
		<div class='loginWrapper'>
			<h2>WiFi 登录</h2>

			<div class="tab">
			</div>

			<div class="tabcontent show">
				<form id='loginForm' action='#' method='get'>
					<div class='formItem'>
						<p>用户名</p>
						<input type="text" id="username">
					</div>
					<div class='formItem'>
						<p>密码</p>
						<input type="password" id="password">
					</div>
					<div class='formItem'>
						<button type='submit' id='loginBtn' class='loginButton'>登录</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>